USE [master]
GO
/****** Object:  Database [Game]    Script Date: 19.10.2025 18:10:36 ******/
CREATE DATABASE [Game]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Game', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Game.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Game_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Game_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Game].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Game]
GO
/****** Object:  Table [dbo].[BoardGames]    Script Date: 19.10.2025 18:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BoardGames](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NameGame] [nvarchar](60) NULL,
	[Category] [int] NULL,
	[Genre] [int] NULL,
	[Thematics] [int] NULL,
	[AgeLimit] [int] NULL,
	[Description] [nvarchar](150) NULL,
	[Photo] [nvarchar](50) NULL,
	[Exclusivity] [bit] NULL,
	[Price] [float] NULL,
 CONSTRAINT [PK_BoardGames] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 19.10.2025 18:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](60) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameNights]    Script Date: 19.10.2025 18:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameNights](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StartTime] [datetime] NULL,
	[Responsible] [int] NULL,
	[MinimumNumberOfParticipants] [int] NULL,
	[MaximumNumberOfParticipants] [int] NULL,
 CONSTRAINT [PK_GameNights] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameNightsApplications]    Script Date: 19.10.2025 18:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameNightsApplications](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[User] [int] NULL,
	[GameNights] [int] NULL,
	[Age] [int] NULL,
	[Status] [int] NULL,
	[Reason] [int] NULL,
 CONSTRAINT [PK_GameNightsApplications] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameNightsParticipiants]    Script Date: 19.10.2025 18:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameNightsParticipiants](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GameNights] [int] NULL,
	[Participiants] [int] NOT NULL,
 CONSTRAINT [PK_GameNightsParticipiants] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genre]    Script Date: 19.10.2025 18:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genre](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](60) NULL,
 CONSTRAINT [PK_Genre] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListOfGames]    Script Date: 19.10.2025 18:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListOfGames](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GameNights] [int] NULL,
	[BoardGames] [int] NULL,
 CONSTRAINT [PK_ListOfGames] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 19.10.2025 18:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](60) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 19.10.2025 18:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](60) NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Thematics]    Script Date: 19.10.2025 18:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thematics](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](60) NULL,
 CONSTRAINT [PK_Thematics] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tournaments]    Script Date: 19.10.2025 18:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tournaments](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TimeDate] [datetime] NULL,
	[AgeLimit] [int] NULL,
	[BoardGames] [int] NULL,
	[Price] [int] NULL,
	[Responsible] [int] NULL,
 CONSTRAINT [PK_Tournaments] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TournamentsApplications]    Script Date: 19.10.2025 18:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TournamentsApplications](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[User] [int] NULL,
	[Tournaments] [int] NULL,
	[Age] [int] NULL,
	[Status] [int] NULL,
	[Reason] [int] NULL,
 CONSTRAINT [PK_TournamentsApplications] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TournamentsParticipiants]    Script Date: 19.10.2025 18:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TournamentsParticipiants](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Tournaments] [int] NULL,
	[Participiants] [int] NULL,
 CONSTRAINT [PK_TournamentsParticipiants] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 19.10.2025 18:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](60) NULL,
	[LastName] [nvarchar](60) NULL,
	[Login] [nvarchar](60) NULL,
	[Password] [nvarchar](60) NULL,
	[Role] [int] NULL,
	[Photo] [nvarchar](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BoardGames] ON 

INSERT [dbo].[BoardGames] ([ID], [NameGame], [Category], [Genre], [Thematics], [AgeLimit], [Description], [Photo], [Exclusivity], [Price]) VALUES (1, N'Колонизаторы', 1, 1, 1, 12, N'Стратегическая игра, в которой игроки осваивают остров Катан, строя поселения, дороги и города. Цель — набрать 10 победных очков, развивая экономику и', N'/images/Колонизаторы.jpg', 0, 100)
INSERT [dbo].[BoardGames] ([ID], [NameGame], [Category], [Genre], [Thematics], [AgeLimit], [Description], [Photo], [Exclusivity], [Price]) VALUES (2, N'Монополия', 2, 2, 2, 12, N'Экономическая игра, где игроки покупают и продают недвижимость, стараясь стать самым богатым. Цель — разорить соперников, собирая арендные платежи.', N'/images/Монополия.jpg', 1, 200)
INSERT [dbo].[BoardGames] ([ID], [NameGame], [Category], [Genre], [Thematics], [AgeLimit], [Description], [Photo], [Exclusivity], [Price]) VALUES (3, N'Каркассон', 1, 2, 1, 12, N'Стратегическая игра, где игроки строят средневековый город, размещая плитки и размещая своих миплов (фигурки) на полях, дорогах и городах.', N'/images/Каркассон.jpg', 0, 150)
SET IDENTITY_INSERT [dbo].[BoardGames] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([ID], [Name]) VALUES (1, N'Стратегия')
INSERT [dbo].[Category] ([ID], [Name]) VALUES (2, N'Экономическая')
INSERT [dbo].[Category] ([ID], [Name]) VALUES (3, N'Карточная')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[GameNights] ON 

INSERT [dbo].[GameNights] ([ID], [StartTime], [Responsible], [MinimumNumberOfParticipants], [MaximumNumberOfParticipants]) VALUES (1, CAST(N'2025-10-01T18:00:00.000' AS DateTime), 3, 5, 20)
INSERT [dbo].[GameNights] ([ID], [StartTime], [Responsible], [MinimumNumberOfParticipants], [MaximumNumberOfParticipants]) VALUES (2, CAST(N'2025-10-08T19:00:00.000' AS DateTime), 5, 10, 30)
INSERT [dbo].[GameNights] ([ID], [StartTime], [Responsible], [MinimumNumberOfParticipants], [MaximumNumberOfParticipants]) VALUES (3, CAST(N'2025-10-15T17:00:00.000' AS DateTime), 2, 8, 25)
SET IDENTITY_INSERT [dbo].[GameNights] OFF
GO
SET IDENTITY_INSERT [dbo].[GameNightsApplications] ON 

INSERT [dbo].[GameNightsApplications] ([ID], [User], [GameNights], [Age], [Status], [Reason]) VALUES (1, 1, 1, 20, 2, 2)
INSERT [dbo].[GameNightsApplications] ([ID], [User], [GameNights], [Age], [Status], [Reason]) VALUES (7, 4, 6, 25, 2, NULL)
SET IDENTITY_INSERT [dbo].[GameNightsApplications] OFF
GO
SET IDENTITY_INSERT [dbo].[GameNightsParticipiants] ON 

INSERT [dbo].[GameNightsParticipiants] ([ID], [GameNights], [Participiants]) VALUES (4, 6, 4)
INSERT [dbo].[GameNightsParticipiants] ([ID], [GameNights], [Participiants]) VALUES (5, 1, 1)
SET IDENTITY_INSERT [dbo].[GameNightsParticipiants] OFF
GO
SET IDENTITY_INSERT [dbo].[Genre] ON 

INSERT [dbo].[Genre] ([ID], [Name]) VALUES (1, N'Фэнтези')
INSERT [dbo].[Genre] ([ID], [Name]) VALUES (2, N'Историческая')
SET IDENTITY_INSERT [dbo].[Genre] OFF
GO
SET IDENTITY_INSERT [dbo].[ListOfGames] ON 

INSERT [dbo].[ListOfGames] ([ID], [GameNights], [BoardGames]) VALUES (1, 1, 1)
INSERT [dbo].[ListOfGames] ([ID], [GameNights], [BoardGames]) VALUES (2, 1, 2)
INSERT [dbo].[ListOfGames] ([ID], [GameNights], [BoardGames]) VALUES (3, 1, 3)
SET IDENTITY_INSERT [dbo].[ListOfGames] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([ID], [Name]) VALUES (1, N'Администратор')
INSERT [dbo].[Role] ([ID], [Name]) VALUES (2, N'Игрок')
INSERT [dbo].[Role] ([ID], [Name]) VALUES (3, N'Мастер')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([ID], [Name]) VALUES (1, N'Отправлена')
INSERT [dbo].[Status] ([ID], [Name]) VALUES (2, N'Подтверждена')
INSERT [dbo].[Status] ([ID], [Name]) VALUES (3, N'Отклонена')
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
SET IDENTITY_INSERT [dbo].[Thematics] ON 

INSERT [dbo].[Thematics] ([ID], [Name]) VALUES (1, N'Средневековье')
INSERT [dbo].[Thematics] ([ID], [Name]) VALUES (2, N'Современность')
SET IDENTITY_INSERT [dbo].[Thematics] OFF
GO
SET IDENTITY_INSERT [dbo].[Tournaments] ON 

INSERT [dbo].[Tournaments] ([ID], [TimeDate], [AgeLimit], [BoardGames], [Price], [Responsible]) VALUES (1, CAST(N'2025-10-05T14:00:00.000' AS DateTime), 12, 1, 50, 3)
INSERT [dbo].[Tournaments] ([ID], [TimeDate], [AgeLimit], [BoardGames], [Price], [Responsible]) VALUES (2, CAST(N'2025-10-12T15:00:00.000' AS DateTime), 12, 4, 60, 5)
INSERT [dbo].[Tournaments] ([ID], [TimeDate], [AgeLimit], [BoardGames], [Price], [Responsible]) VALUES (3, CAST(N'2025-10-19T16:00:00.000' AS DateTime), 18, 5, 70, 2)
SET IDENTITY_INSERT [dbo].[Tournaments] OFF
GO
SET IDENTITY_INSERT [dbo].[TournamentsApplications] ON 

INSERT [dbo].[TournamentsApplications] ([ID], [User], [Tournaments], [Age], [Status], [Reason]) VALUES (1, 2, 1, 20, 3, 1)
INSERT [dbo].[TournamentsApplications] ([ID], [User], [Tournaments], [Age], [Status], [Reason]) VALUES (2, 4, 1, 21, 2, 1)
SET IDENTITY_INSERT [dbo].[TournamentsApplications] OFF
GO
SET IDENTITY_INSERT [dbo].[TournamentsParticipiants] ON 

INSERT [dbo].[TournamentsParticipiants] ([ID], [Tournaments], [Participiants]) VALUES (2, 1, 4)
SET IDENTITY_INSERT [dbo].[TournamentsParticipiants] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [FirstName], [LastName], [Login], [Password], [Role], [Photo]) VALUES (1, N'Иван', N'Иванов', N'ivan123', N'password123', 1, NULL)
INSERT [dbo].[Users] ([ID], [FirstName], [LastName], [Login], [Password], [Role], [Photo]) VALUES (2, N'Мария', N'Петрова', N'maria456', N'password456', 1, NULL)
INSERT [dbo].[Users] ([ID], [FirstName], [LastName], [Login], [Password], [Role], [Photo]) VALUES (3, N'Алексей', N'Сидоров', N'alex789', N'password789', 3, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[BoardGames]  WITH CHECK ADD  CONSTRAINT [FK_BoardGames_Category] FOREIGN KEY([Category])
REFERENCES [dbo].[Category] ([ID])
GO
ALTER TABLE [dbo].[BoardGames] CHECK CONSTRAINT [FK_BoardGames_Category]
GO
ALTER TABLE [dbo].[BoardGames]  WITH CHECK ADD  CONSTRAINT [FK_BoardGames_Genre] FOREIGN KEY([Genre])
REFERENCES [dbo].[Genre] ([ID])
GO
ALTER TABLE [dbo].[BoardGames] CHECK CONSTRAINT [FK_BoardGames_Genre]
GO
ALTER TABLE [dbo].[BoardGames]  WITH CHECK ADD  CONSTRAINT [FK_BoardGames_Thematics] FOREIGN KEY([Thematics])
REFERENCES [dbo].[Thematics] ([ID])
GO
ALTER TABLE [dbo].[BoardGames] CHECK CONSTRAINT [FK_BoardGames_Thematics]
GO
ALTER TABLE [dbo].[GameNights]  WITH CHECK ADD  CONSTRAINT [FK_GameNights_Users] FOREIGN KEY([Responsible])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[GameNights] CHECK CONSTRAINT [FK_GameNights_Users]
GO
ALTER TABLE [dbo].[GameNightsApplications]  WITH CHECK ADD  CONSTRAINT [FK_GameNightsApplications_GameNights] FOREIGN KEY([GameNights])
REFERENCES [dbo].[GameNights] ([ID])
GO
ALTER TABLE [dbo].[GameNightsApplications] CHECK CONSTRAINT [FK_GameNightsApplications_GameNights]
GO
ALTER TABLE [dbo].[GameNightsApplications]  WITH CHECK ADD  CONSTRAINT [FK_GameNightsApplications_Status] FOREIGN KEY([Status])
REFERENCES [dbo].[Status] ([ID])
GO
ALTER TABLE [dbo].[GameNightsApplications] CHECK CONSTRAINT [FK_GameNightsApplications_Status]
GO
ALTER TABLE [dbo].[GameNightsApplications]  WITH CHECK ADD  CONSTRAINT [FK_GameNightsApplications_Users] FOREIGN KEY([User])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[GameNightsApplications] CHECK CONSTRAINT [FK_GameNightsApplications_Users]
GO
ALTER TABLE [dbo].[GameNightsParticipiants]  WITH CHECK ADD  CONSTRAINT [FK_GameNightsParticipiants_GameNights] FOREIGN KEY([GameNights])
REFERENCES [dbo].[GameNights] ([ID])
GO
ALTER TABLE [dbo].[GameNightsParticipiants] CHECK CONSTRAINT [FK_GameNightsParticipiants_GameNights]
GO
ALTER TABLE [dbo].[GameNightsParticipiants]  WITH CHECK ADD  CONSTRAINT [FK_GameNightsParticipiants_Users1] FOREIGN KEY([Participiants])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[GameNightsParticipiants] CHECK CONSTRAINT [FK_GameNightsParticipiants_Users1]
GO
ALTER TABLE [dbo].[ListOfGames]  WITH CHECK ADD  CONSTRAINT [FK_ListOfGames_BoardGames] FOREIGN KEY([BoardGames])
REFERENCES [dbo].[BoardGames] ([ID])
GO
ALTER TABLE [dbo].[ListOfGames] CHECK CONSTRAINT [FK_ListOfGames_BoardGames]
GO
ALTER TABLE [dbo].[ListOfGames]  WITH CHECK ADD  CONSTRAINT [FK_ListOfGames_GameNights] FOREIGN KEY([GameNights])
REFERENCES [dbo].[GameNights] ([ID])
GO
ALTER TABLE [dbo].[ListOfGames] CHECK CONSTRAINT [FK_ListOfGames_GameNights]
GO
ALTER TABLE [dbo].[Tournaments]  WITH CHECK ADD  CONSTRAINT [FK_Tournaments_BoardGames] FOREIGN KEY([BoardGames])
REFERENCES [dbo].[BoardGames] ([ID])
GO
ALTER TABLE [dbo].[Tournaments] CHECK CONSTRAINT [FK_Tournaments_BoardGames]
GO
ALTER TABLE [dbo].[Tournaments]  WITH CHECK ADD  CONSTRAINT [FK_Tournaments_Users] FOREIGN KEY([Responsible])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Tournaments] CHECK CONSTRAINT [FK_Tournaments_Users]
GO
ALTER TABLE [dbo].[TournamentsApplications]  WITH CHECK ADD  CONSTRAINT [FK_TournamentsApplications_Status] FOREIGN KEY([Status])
REFERENCES [dbo].[Status] ([ID])
GO
ALTER TABLE [dbo].[TournamentsApplications] CHECK CONSTRAINT [FK_TournamentsApplications_Status]
GO
ALTER TABLE [dbo].[TournamentsApplications]  WITH CHECK ADD  CONSTRAINT [FK_TournamentsApplications_Users] FOREIGN KEY([User])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[TournamentsApplications] CHECK CONSTRAINT [FK_TournamentsApplications_Users]
GO
ALTER TABLE [dbo].[TournamentsParticipiants]  WITH CHECK ADD  CONSTRAINT [FK_TournamentsParticipiants_Tournaments] FOREIGN KEY([Tournaments])
REFERENCES [dbo].[Tournaments] ([ID])
GO
ALTER TABLE [dbo].[TournamentsParticipiants] CHECK CONSTRAINT [FK_TournamentsParticipiants_Tournaments]
GO
ALTER TABLE [dbo].[TournamentsParticipiants]  WITH CHECK ADD  CONSTRAINT [FK_TournamentsParticipiants_Users] FOREIGN KEY([Participiants])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[TournamentsParticipiants] CHECK CONSTRAINT [FK_TournamentsParticipiants_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Role] FOREIGN KEY([Role])
REFERENCES [dbo].[Role] ([ID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Role]
GO
USE [master]
GO
